Agente de finanzas personales/FinancialAssistant.json
{
  "name": "FinancialAssistant",
  "nodes": [
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "7c487470-d376-4c51-bee5-dd44facee3cb",
      "name": "When chat message received",
      "webhookId": "5a68ff38-8efa-4d5b-91a1-59180c97950b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=#Rol\nEres un asistente capaz de contestar preguntas frecuentes sobre mis finanzas personales.\n\n#Tareas\n- Tu función principal es responder a este mensaje {{ $json.chatInput }}\n- Utiliza información de la herramienta VerPresupuesto en caso de que se requiera de esa información. El presupuesto de cada categoría es el dinero que hay disponible para gastar este mes.\n- Utiliza información de la herramienta VerGastos en caso de que se requiera de esa información. La fecha de los gastos está en formato DD/MM/YYYY.\n- Cuando el usuario te añada una archivo adjunto de un recibo o una factura extraerás los siguientes parámetros: nombre_gasto, total, fecha, categoria_gasto. Luego los insertarás en la tabla de gastos a través de la herramienta InsertarGastos. La categoria_gasto solo puede ser Salud, Restaurantes, Transporte, Comida o Deporte.\n\n#Notas\n- Tus respuestas deben ser claras y concisas, no debes exceder los 200 caracteres.\n- Puedes hacer cálculos para poder obtener resultados totales de ingresos y gastos.\n- Responde siempre refiriéndote al dinero como euros.\n- El presupuesto de cada categoría es el dinero que hay disponible para gastar este mes. La diferencia entre lo presupuestado y los gastos del mes es el dinero que todavía hay disponible en esa categoría.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        408,
        0
      ],
      "id": "2f04bf5a-c902-4a43-9c74-1fc958db4125",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        224
      ],
      "id": "bc17c25f-cd50-4832-87b6-9577d3a047a5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FgOCxW4pI3UMZRx9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "9305d650-1c8a-4c73-b0cd-2f75ab752758",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "yxFZFPGgFlf9B8o7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Llama a este módulo para ver los gastos actuales. Para poder filtrar por meses del año debes usar la columna Fecha que tiene formato DD/MM/YYYY",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app5E3Zl7pemgABed",
          "mode": "list",
          "cachedResultName": "FinancialAssistant",
          "cachedResultUrl": "https://airtable.com/app5E3Zl7pemgABed"
        },
        "table": {
          "__rl": true,
          "value": "tbljI8nPQWjmJMxng",
          "mode": "list",
          "cachedResultName": "Lista contable",
          "cachedResultUrl": "https://airtable.com/app5E3Zl7pemgABed/tbljI8nPQWjmJMxng"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        480,
        224
      ],
      "id": "54fd6db7-f5e7-47c0-bbc4-ff5dd81224ae",
      "name": "VerGastos",
      "credentials": {
        "airtableTokenApi": {
          "id": "WnPUVSRUMxVvro0p",
          "name": "FinancialAssistant"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Llama a este módulo para encontrar información sobre el presupuesto de cada categoría",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app5E3Zl7pemgABed",
          "mode": "list",
          "cachedResultName": "FinancialAssistant",
          "cachedResultUrl": "https://airtable.com/app5E3Zl7pemgABed"
        },
        "table": {
          "__rl": true,
          "value": "tblyozn8edJqQEVB7",
          "mode": "list",
          "cachedResultName": "Presupuesto",
          "cachedResultUrl": "https://airtable.com/app5E3Zl7pemgABed/tblyozn8edJqQEVB7"
        },
        "filterByFormula": "={MesCalendario} = \"{{ $fromAI(\"fecha\", \"mes del año en español y la primera letra en mayúscula\") }}\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        608,
        224
      ],
      "id": "382260b3-bb8e-43ed-8e42-34898fbd84f3",
      "name": "VerPresupuesto",
      "credentials": {
        "airtableTokenApi": {
          "id": "WnPUVSRUMxVvro0p",
          "name": "FinancialAssistant"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Llama a este módulo para insertar nuevos datos de gastos",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app5E3Zl7pemgABed",
          "mode": "list",
          "cachedResultName": "FinancialAssistant",
          "cachedResultUrl": "https://airtable.com/app5E3Zl7pemgABed"
        },
        "table": {
          "__rl": true,
          "value": "tbljI8nPQWjmJMxng",
          "mode": "list",
          "cachedResultName": "Lista contable",
          "cachedResultUrl": "https://airtable.com/app5E3Zl7pemgABed/tbljI8nPQWjmJMxng"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cantidad": "={{ $fromAI('total', \"el total debe estar en euros\", \"number\") }}",
            "Nombre": "={{ $fromAI('nombre_gasto') }}",
            "Categoría": "={{ $fromAI('categoria_gasto') }}",
            "Fecha": "={{ $fromAI('fecha', \"la fecha en formato DD/MM/YYYY\", \"string\", $today) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cantidad",
              "displayName": "Cantidad",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categoría",
              "displayName": "Categoría",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Categoria",
                  "value": "Categoria"
                },
                {
                  "name": "Restaurantes",
                  "value": "Restaurantes"
                },
                {
                  "name": "Salud",
                  "value": "Salud"
                },
                {
                  "name": "Deporte",
                  "value": "Deporte"
                },
                {
                  "name": "Transporte",
                  "value": "Transporte"
                },
                {
                  "name": "Comida",
                  "value": "Comida"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        736,
        224
      ],
      "id": "28824183-3128-4da4-83d4-df31ad65d33e",
      "name": "InsertarGastos",
      "credentials": {
        "airtableTokenApi": {
          "id": "WnPUVSRUMxVvro0p",
          "name": "FinancialAssistant"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "VerGastos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "VerPresupuesto": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "InsertarGastos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ac411e7c-6090-4093-8f1b-818ab2c83210",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "95ec861c4642b2c05130cbab4e6a53b4b4bb1abe20d388addfc05ab51398996c"
  },
  "id": "HQYqpmlv3rZx0RxN",
  "tags": []
}