Agente de ecommerce/Ecom_upload.json
{
  "name": "Ecom_upload",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1j1TDjD67q1rlxPYPrxI534ThFELlkmT2",
          "mode": "list",
          "cachedResultName": "Ecommerce",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1j1TDjD67q1rlxPYPrxI534ThFELlkmT2"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8ab55928-df50-433c-8b32-a65d30407eb7",
      "name": "Google Drive Trigger Create File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zQCmwaP1I7btC1Hk",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1j1TDjD67q1rlxPYPrxI534ThFELlkmT2",
          "mode": "list",
          "cachedResultName": "Ecommerce",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1j1TDjD67q1rlxPYPrxI534ThFELlkmT2"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "7f622fb5-04c9-47c2-87d3-f678f5c6815f",
      "name": "Google Drive Trigger Update file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zQCmwaP1I7btC1Hk",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.webViewLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        96
      ],
      "id": "9ad9ec33-ef4b-4bfd-a871-675490fa67a9",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zQCmwaP1I7btC1Hk",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ecom",
          "mode": "list",
          "cachedResultName": "ecom"
        },
        "options": {
          "pineconeNamespace": "name_ecom"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        480,
        96
      ],
      "id": "5d9394d4-107c-4a93-9dd0-d623990b599a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "Gd92JDXOG5UkP83J",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        320
      ],
      "id": "10f11e94-7cce-455d-af08-c4424fb94e4c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "FgOCxW4pI3UMZRx9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "data",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        576,
        320
      ],
      "id": "fceaba91-c3ba-49c2-8758-8b864ef2121a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 20
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        656,
        528
      ],
      "id": "82c0db80-dccb-4fac-b558-d6c19145cb21",
      "name": "Token Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger Create File": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger Update file": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cff5ddb3-1338-4b2d-8e07-0342fc83ffe0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "95ec861c4642b2c05130cbab4e6a53b4b4bb1abe20d388addfc05ab51398996c"
  },
  "id": "b4ZLSRky5YYCrgOU",
  "tags": []
}