IA Correos/Personal_AI.json
{
  "name": "Personal_AI",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "ae7be840-36aa-441e-96d0-c22469d66c6f",
      "name": "When chat message received",
      "webhookId": "66e12dfe-39a4-4367-b52c-1e04905c035f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=#Rol\nEres un asistente personal que ayudarás al usuario con la gestión de sus clientes\n\n#Tareas\n- Tu función principal es responder a este mensaje {{ $json.chatInput }}\n- Utiliza la información de la herramienta Clientes para encontrar datos sobre los clientes\n- Utiliza la herramienta AgendarReuniones para agendar eventos y reuniones tomando de referencia la hora actual: {{ $now }}\n- Utiliza la herramienta EnviarEmail para enviar correos electrónicos a los clientes\n\n#Notas\n- Tus respuestas deben ser claras y concisas, no debes exceder los 200 caracteres",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        408,
        0
      ],
      "id": "b06c7277-4ca4-4760-aada-d9faaa2b9ead",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        224
      ],
      "id": "93dd64a5-491a-425a-9723-250f398da4d6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FgOCxW4pI3UMZRx9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "772231a1-bc1c-4c06-a6ac-b6f24ff6f9c6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kny2OcJ80E28LtUhDib5BvBuOVrE7pVZ5CMlASBXv0w",
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kny2OcJ80E28LtUhDib5BvBuOVrE7pVZ5CMlASBXv0w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kny2OcJ80E28LtUhDib5BvBuOVrE7pVZ5CMlASBXv0w/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        480,
        224
      ],
      "id": "9a1666ea-f35f-4be3-ba85-d3e6354bdfe7",
      "name": "Clientes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H5vvFXJ6PIfMuIQo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "damianmunoz4002@gmail.com",
          "mode": "list",
          "cachedResultName": "damianmunoz4002@gmail.com"
        },
        "start": "={{ $fromAI(\"startTime\") }}",
        "end": "={{ $fromAI(\"endTime\") }}",
        "additionalFields": {
          "description": "={{ $fromAI(\"subject\") }}",
          "summary": "={{ $fromAI(\"title\", \"el nombre de la reunión\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        608,
        224
      ],
      "id": "b65013f3-2e32-4fe3-9a4d-d6f593bb888e",
      "name": "AgendarReuniones",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "LzP50fP3BUZLbxWd",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI(\"emailAddress\",\"email del cliente\") }}",
        "subject": "={{ $fromAI(\"subject\",\"asunto del email\") }}",
        "emailType": "text",
        "message": "={{ $fromAI(\"message\",\"contenido del mensaje\") }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Damián Muñoz"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        736,
        224
      ],
      "id": "83f5b2ae-e51b-4c9a-a40c-0f59c0d0bdd3",
      "name": "EnviarEmail",
      "webhookId": "b8880045-4422-4b63-9433-2cee3f196d6c",
      "credentials": {
        "gmailOAuth2": {
          "id": "7gtNm7nsySCTtDCN",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Clientes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AgendarReuniones": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "EnviarEmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false
  },
  "versionId": "2dc7d032-d4ab-4ef5-8433-0cf3d2702f10",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "95ec861c4642b2c05130cbab4e6a53b4b4bb1abe20d388addfc05ab51398996c"
  },
  "id": "fJNfjwgzjiJYKytO",
  "tags": []
}